#canvas {
    display: flex;
    flex-flow: wrap;
    background-color: bisque;

}

.block {
    border: 0;
    margin: 0;
    display: flex;
    justify-content: stretch;
    align-items: stretch ;
    flex: auto;
    
    width: 1em;
    height: 1em;
    background-color: red;   
}

.squares {
    margin-left: 15em;
    margin-bottom: 1em;
    margin-top: 1em;
}